{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {% block navbar %}
        {{ include('_navbar.html.twig') }}
    {% endblock navbar %}

<div class="flex justify-center items-center">
    <div class="flex flex-col w-96 m-10 p-10 items-center justify-center bg-gray-100 rounded-lg">
        <h2 class="text-xl font-bold mb-4">Profile de {{ user.firstName }} {{ user.lastName|capitalize }}</h2>

    </div>
</div>
{% endblock %}
