{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% block navbar %}
        {{ include('_navbar.html.twig') }}
    {% endblock navbar %}


    <div class="flex justify-center items-center">
        <div class="flex flex-col w-96 m-10 p-10 items-center justify-center bg-gray-100 rounded-lg">
            <h1 class="text-xl font-bold mb-4">Inscription</h1>
            <div class="flex flex-col p-4">
                <a href="{{ path('app_registration_cleaner') }}" class="mb-4 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-indigo">Créer un compte Nettoyeur</a>
                <a href="{{ path('app_registration_customer') }}" class="mb-4 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-indigo">Créer un compte Client</a>
            </div>
        </div>
    </div>

{% endblock %}
