{% block footer %}

    <footer class="h-56 w-full flex flex-col justify-center bg-gray-100">
        <div class="h-auto w-auto ml-16 mt-6">
            <h1 class="text-2xl font-bold mr-6">Uber Clean</h1>
            <a href="/">
                <img class="ml-6 h-20 p-4" src="{{ asset('images/logo_uber_clean.png')}}" alt="logo">
            </a>
        </div>
        <div class="flex flex-col items-center">

            <ul class="w-262 h-50 flex items-center">
                <li class="text-lg font-bold mr-6">
                    <a href="{{ path('contact') }}">Contactez-nous</a>
                </li>
            </ul>
            <p class="mt-4 mb-2 text-lg font-bold">© 2023 Uber Clean</p>
        </div>
    </footer>

{% endblock %}
